<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  {{ partial "head.html" . }}

  <title>
    {{ if .IsHome }}
    {{ .Site.Title }}
    {{ else }}
    {{ with .Title }}{{ . }} | {{ end }}

    {{ .Site.Title }}
    {{ end }}
  </title>
</head>

<body>
  {{ partial "header.html" . }}

  {{ partial "pagetitle.html" . }}

  <main class="pg-technologies">
    <div class="wrapper">
      <div class="container">

        <div class="cp-technology">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="col-auto">{{ i18n "ui_rings"}}</th>
                <th class="col-10">{{ i18n "ui_technologies"}}</th>
                <th class="col"></th>
              </tr>
            </thead>
            <tbody>
              {{ range where .Site.Pages "Params.category" .Params.Title }}
              <tr class="cp-technology">
                <td>
                  <span class="cp-badge {{ lower .Params.ring }}">{{ .Params.ring }}</span>
                </td>
                <td>
                  <p class="cp-technology-description text-truncate">{{ .Params.name }}</p>
                </td>
                <td>
                  <a href="{{ .Permalink }}">
                    <img src="/icons/external.svg" alt="Icone" />
                  </a>
                </td>
              </tr>
              {{ end }}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </main>

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}
</body>

</html>