<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}

    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ with .Title }}{{ . }} | {{ end }}
        
        {{ .Site.Title }}
      {{ end }}
    </title>
  </head>

  <body>
    {{ partial "header.html" . }}

    {{ partial "pagetitle.html" . }}

    <main class="pg-technologies">
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              {{ range where .Site.Pages "Params.category" .Params.id }}
              {{ $ring := .Site.GetPage "category" .Params.ring }}

              <div class="cp-technology">
                <div class="row align-items-center justify-content-between">
                  <div class="col-auto">
                    <span class="cp-badge {{ lower .Params.ring }}">{{ $ring.Params.Name }}</span>
                  </div>
                  
                  <div class="col-9">
                    <p class="cp-technology-description">{{ .Params.Name }}</p>
                  </div>
              
                  <div class="col-auto">
                    <a href="{{ .Permalink }}">
                      <img src="/icons/external.svg" alt="Icone" />
                    </a>
                  </div>
                </div>
              </div>
              {{ end }}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </main>

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}
</body>

</html>