.cp-accordion-item {
  margin-top: 16px;
}

.cp-accordion-item:first-of-type {
  margin-top: 0;
}

.cp-accordion-item-head {
  padding: 36px 24px;
  border-radius: 2px 2px 0 0;
  background: #fff;
}

.cp-accordion-item-head a {
  text-decoration: none;
}

.cp-accordion-item-head-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #1a2138;
}

.cp-accordion-item-head-more {
  font-size: 14px;
  line-height: 24px;
  color: #404659;
}

.cp-accordion-item-head-more:first-of-type {
  display: block;
}

.cp-accordion-item-head-more:last-of-type {
  display: none;
}

.cp-accordion-item.is-active .cp-accordion-item-head-more:first-of-type {
  display: none;
}

.cp-accordion-item.is-active .cp-accordion-item-head-more:last-of-type {
  display: block;
}

.cp-accordion-item-head-icon {
  width: 24px;
  height: 24px;
  border: 1px solid #f5f6f7;
  border-radius: 960px;
  display: table;
  position: relative;
}

.cp-accordion-item-head-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cp-accordion-item.is-active .cp-accordion-item-head-icon {
  transform: rotate(180deg);
}

.cp-accordion-item-content {
  display: none;
  padding: 24px;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
}

.cp-accordion-item.is-active .cp-accordion-item-content {
  display: block;
}
