.cp-card {
  background: #ffffff;
  box-shadow: 0px 4px 32px -8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 24px;
}



@media screen and (max-width: 991px) {
  .cp-card-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-y: overlay;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .cp-card-carousel::-webkit-scrollbar {
    display: none;
  }


  .cp-card-carousel-dots > input[type="radio"] {
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #D9DADE;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  .cp-card-carousel-dots > input[type="radio"]::before {
    content: '';
    position: absolute;
    height: 14px;
    width: 14px;
    background: #FF6D00;
    border-radius: 50%;
    opacity: 0;
  }

  .cp-card-carousel-dots > input[type="radio"]:checked::before {
    opacity: 1;
  }
}