<footer class="sc-footer">
  <div class="wrapper">
    <div class="container-fluid gx-0">
      <div class="row justify-content-between">
        <div class="col-auto">
          <div class="row">
            <div class="col-12">
              <a href="/">
                <img src="/logos/open-source.svg" alt="Open Source - Zup I.T">
              </a>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <a href="/">
                <img src="/logos/zup.svg" alt="Zup I.T">
              </a>
            </div>
          </div>
        </div>

        <div class="col-10">
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <span class="sc-footer-title">Tech Radar</span>
                </div>
              </div>

              <div class="row mt-4">
                <ul class="sc-footer-list">
                  <li class="sc-footer-list-item">
                    <a href="/radar">
                      <span>{{ i18n "ui_technologies" }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <span class="sc-footer-title">{{ i18n "ui_community" }}</span>
                </div>
              </div>

              <div class="row mt-4">
                <ul class="sc-footer-list">
                  <li class="sc-footer-list-item">
                    <a href="https://www.zup.com.br/blog" target="_blank">
                      <span>Blog</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="/radar">
                      <span>Tech Radar</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="https://www.zup.com.br/eventos" target="_blank">
                      <span>{{ i18n "ui_events" }}</span>
                    </a>
                  </li>
                  
                  <li class="sc-footer-list-item">
                    <a href="http://forum.zup.com.br/" target="_blank">
                      <span>{{ i18n "ui_forum" }}</span>
                    </a>
                  </li>
                  
                  <li class="sc-footer-list-item">
                    <a href="https://www.zup.com.br/politica-de-privacidade?=cookies" target="_blank">
                      <span>{{ i18n "ui_privacy_policy" }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <span class="sc-footer-title">{{ i18n "ui_social_media" }}</span>
                </div>
              </div>

              <div class="row mt-4">
                <ul class="sc-footer-list">
                  <li class="sc-footer-list-item">
                    <a href="https://twitter.com/ZupInnovation" target="_blank">
                      <span>
                        <img src="/icons/twitter.svg" alt="Twitter">
                      </span>

                      <span>Twitter</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="https://www.youtube.com/channel/UCJWZyJ-36yNscqnnHiwjkhQ" target="_blank">
                      <span>
                        <img src="/icons/youtube.svg" alt="Youtube">
                      </span>

                      <span>Youtube</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="https://github.com/ZupIT/" target="_blank">
                      <span>
                        <img src="/icons/github.svg" alt="Github">
                      </span>

                      <span>Github</span>
                    </a>
                  </li>
                  
                  <li class="sc-footer-list-item">
                    <a href="https://www.linkedin.com/company/zup-it-solutions/" target="_blank">
                      <span>
                        <img src="/icons/linkedin.svg" alt="Linkedin">
                      </span>

                      <span>Linkedin</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <span class="sc-footer-title">{{ i18n "ui_who_we_are" }}</span>
                </div>
              </div>

              <div class="row mt-4">
                <ul class="sc-footer-list">
                  <li class="sc-footer-list-item">
                    <a href="/about">
                      <span>{{ i18n "ui_about_us" }}</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="/contact">
                      <span>{{ i18n "ui_contact" }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-auto">
          <p class="sc-footer-copyright">{{ i18n "ui_copyright" }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>