<footer class="sc-footer">
  <div class="wrapper">
    <div class="container-fluid gx-0">
      <div class="row justify-content-between">
        <div class="col-auto">
          <div class="row">
            <div class="col-12">
              <a href="#">
                <img src="/logos/open-source.svg" alt="Open Source - Zup I.T">
              </a>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <a href="#">
                <img src="/logos/zup.svg" alt="Zup I.T">
              </a>
            </div>
          </div>
        </div>

        <div class="col-10">
          <div class="row">
            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <span class="sc-footer-title">Tech Radar</span>
                </div>
              </div>

              <div class="row mt-4">
                <ul class="sc-footer-list">
                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>Tecnologias</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <span class="sc-footer-title">Comunidade</span>
                </div>
              </div>

              <div class="row mt-4">
                <ul class="sc-footer-list">
                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>Blog</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>Tech Radar</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>Eventos</span>
                    </a>
                  </li>
                  
                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>Fórum</span>
                    </a>
                  </li>
                  
                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>Política de privacidade</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <span class="sc-footer-title">Redes sociais</span>
                </div>
              </div>

              <div class="row mt-4">
                <ul class="sc-footer-list">
                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>
                        <img src="/icons/twitter.svg" alt="Twitter">
                      </span>

                      <span>Twitter</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>
                        <img src="/icons/youtube.svg" alt="Youtube">
                      </span>

                      <span>Youtube</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>
                        <img src="/icons/github.svg" alt="Github">
                      </span>

                      <span>Github</span>
                    </a>
                  </li>
                  
                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>
                        <img src="/icons/linkedin.svg" alt="Linkedin">
                      </span>

                      <span>Linkedin</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-3">
              <div class="row">
                <div class="col-12">
                  <span class="sc-footer-title">Quem somos</span>
                </div>
              </div>

              <div class="row mt-4">
                <ul class="sc-footer-list">
                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>Sobre nós</span>
                    </a>
                  </li>

                  <li class="sc-footer-list-item">
                    <a href="#">
                      <span>Contato</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-5">
        <div class="col-auto">
          <p class="sc-footer-copyright">©Copyright 2021 Zup. Todos os direitos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>