{{ $langPage := cond (gt (len .Translations) 0) . .Site.Home }}
<div class="cp-dropdown">
  <div class="cp-dropdown-head">
    <span class="cp-dropdown-head-label">{{ $langPage.Language.LanguageName }}</span>

    <span class="cp-dropdown-head-icon">
      <img src="{{.Site.BaseURL}}/icons/arrow-down.svg" alt="Abrir" />
    </span>
  </div>

  <div class="cp-dropdown-list" data-cp-dropdown-base-href="{{ .Site.BaseURL }}">
    {{ range $langPage.Translations }}
      <div class="cp-dropdown-list-item" data-value="{{ .RelPermalink }}">{{ .Language.LanguageName }}</div>
    {{ end }}
  </div>
</div>