<nav class="sc-header-navbar">
  <ul>
    {{ $current := . }}
    {{ range .Site.Menus.main }}
    {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
    {{ $active = or $active (eq .Name $current.Title) }}
    {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
    {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
      <li class="sc-header-navbar-item {{if $active }} is-active{{end}}">
        <a href="{{ .URL | relLangURL }}">{{ .Name }} </a> 
      </li>
    {{ end }}
  </ul>
</nav>