<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Tech Radar - Opensource - Zup I.T</title>

  <!-- GOOGLE FONTS-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
  <!-- GOOGLE FONTS-->

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- BOOTSTRAP -->

  <link rel="stylesheet" href="assets/css/app.css" />
</head>

<body>
  <header class="sc-header">
    <div class="wrapper">
       <div class="container-fluid gx-0">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <a href="#">
              <img src="{{.Site.BaseURL}}/logos/tech-radar.svg" alt="Tech Radar | Zup I.T" style="float: left;">
            </a>
          </div>

          <div class="col-auto">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <nav class="sc-header-navbar">
                  <ul>
                    <li class="sc-header-navbar-item is-active">
                      <a href="#">documentação</a>
                    </li>

                    <li class="sc-header-navbar-item">
                      <a href="#">Radar</a>
                    </li>

                    <li class="sc-header-navbar-item">
                      <a href="#">Sobre</a>
                    </li>
                  </ul>
                </nav>
              </div>

              <div class="col-auto ms-5">
                <div class="cp-dropdown">
                  <div class="cp-dropdown-head">
                    <span class="cp-dropdown-head-label">Português</span>
                
                    <span class="cp-dropdown-head-icon">
                      <img src="{{.Site.BaseURL}}/assets/icons/arrow-down.svg" alt="Abrir" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="sc-page-head">
    <div class="wrapper">
      <div class="container-fluid gx-0">
        <div class="row justify-content-center">
          <div class="col-auto">
            <h1>Tecnologias</h1>
          </div>
        </div>
        
        <div class="row justify-content-center mt-3">
          <div class="col-auto">
            <p>[MUDAR]  Nossas categorias e confira a ficha técnica das tecnologias que estamos usando.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <main class="pg-technologies">
    <div class="wrapper">
      <div class="container-fluid gx-0">
        <div class="row">
          <div class="col-12">
            <div class="cp-accordion">
              <div class="cp-accordion-item">
                <div class="cp-accordion-item-head">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                      <h4 class="cp-accordion-item-head-title">Técnicas</h4>
                    </div>
            
                    <div class="col-auto">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <a href="#" class="cp-accordion-item-head-toggle">
                            <span class="cp-accordion-item-head-more">Ver mais</span>
                            <span class="cp-accordion-item-head-more">Ver menos</span>
                          </a>
                        </div>
            
                        <div class="col-auto ms-2">
                          <span class="cp-accordion-item-head-icon">
                            <a href="#" class="cp-accordion-item-head-toggle">
                              <img src="{{.Site.BaseURL}}/icons/arrow-down.svg" alt="Icone" />
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="cp-accordion-item-content">
                  <div class="row">
                    <div class="col-2">
                      <span class="pg-techlogies-head-text px-md-4">Anéis</span>
                    </div>

                    <div class="col-auto">
                      <span class="pg-techlogies-head-text">Tecnologias</span>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-12">
                      <div class="cp-technology">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-auto">
                            <span class="cp-badge">Estratégico</span>
                          </div>
                          
                          <div class="col-9">
                            <p class="cp-technology-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                      
                          <div class="col-auto">
                            <a href="#">
                              <img src="{{.Site.BaseURL}}/icons/external.svg" alt="Icone" />
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="cp-technology">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-auto">
                            <span class="cp-badge">Estratégico</span>
                          </div>
                          
                          <div class="col-9">
                            <p class="cp-technology-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                      
                          <div class="col-auto">
                            <a href="#">
                              <img src="{{.Site.BaseURL}}/icons/external.svg" alt="Icone" />
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="cp-technology">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-auto">
                            <span class="cp-badge">Estratégico</span>
                          </div>
                          
                          <div class="col-9">
                            <p class="cp-technology-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                      
                          <div class="col-auto">
                            <a href="#">
                              <img src="{{.Site.BaseURL}}/icons/external.svg" alt="Icone" />
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="cp-technology">
                        <div class="row align-items-center justify-content-between">
                          <div class="col-auto">
                            <span class="cp-badge">Estratégico</span>
                          </div>
                          
                          <div class="col-9">
                            <p class="cp-technology-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                          </div>
                      
                          <div class="col-auto">
                            <a href="#">
                              <img src="{{.Site.BaseURL}}/icons/external.svg" alt="Icone" />
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="cp-accordion-item">
                <div class="cp-accordion-item-head">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                      <h4 class="cp-accordion-item-head-title">Técnicas</h4>
                    </div>
            
                    <div class="col-auto">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <a href="#" class="cp-accordion-item-head-toggle">
                            <span class="cp-accordion-item-head-more">Ver mais</span>
                            <span class="cp-accordion-item-head-more">Ver menos</span>
                          </a>
                        </div>
            
                        <div class="col-auto ms-2">
                          <span class="cp-accordion-item-head-icon">
                            <a href="#" class="cp-accordion-item-head-toggle">
                              <img src="{{.Site.BaseURL}}/icons/arrow-down.svg" alt="Icone" />
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="cp-accordion-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad facilis ipsum, quisquam facere at error recusandae ea laborum ut illo eos? Id totam numquam a rerum quis perferendis. Voluptates.</div>
              </div>
            
              <div class="cp-accordion-item">
                <div class="cp-accordion-item-head">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                      <h4 class="cp-accordion-item-head-title">Técnicas</h4>
                    </div>
            
                    <div class="col-auto">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <a href="#" class="cp-accordion-item-head-toggle">
                            <span class="cp-accordion-item-head-more">Ver mais</span>
                            <span class="cp-accordion-item-head-more">Ver menos</span>
                          </a>
                        </div>
            
                        <div class="col-auto ms-2">
                          <span class="cp-accordion-item-head-icon">
                            <a href="#" class="cp-accordion-item-head-toggle">
                              <img src="{{.Site.BaseURL}}/icons/arrow-down.svg" alt="Icone" />
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="cp-accordion-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad facilis ipsum, quisquam facere at error recusandae ea laborum ut illo eos? Id totam numquam a rerum quis perferendis. Voluptates.</div>
              </div>
            
              <div class="cp-accordion-item">
                <div class="cp-accordion-item-head">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                      <h4 class="cp-accordion-item-head-title">Técnicas</h4>
                    </div>
            
                    <div class="col-auto">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          <a href="#" class="cp-accordion-item-head-toggle">
                            <span class="cp-accordion-item-head-more">Ver mais</span>
                            <span class="cp-accordion-item-head-more">Ver menos</span>
                          </a>
                        </div>
            
                        <div class="col-auto ms-2">
                          <span class="cp-accordion-item-head-icon">
                            <a href="#" class="cp-accordion-item-head-toggle">
                              <img src="{{.Site.BaseURL}}/icons/arrow-down.svg" alt="Icone" />
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="cp-accordion-item-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis ad facilis ipsum, quisquam facere at error recusandae ea laborum ut illo eos? Id totam numquam a rerum quis perferendis. Voluptates.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="sc-footer">
    <div class="wrapper">
      <div class="container-fluid gx-0">
        <div class="row justify-content-between">
          <div class="col-auto">
            <div class="row">
              <div class="col-12">
                <a href="#">
                  <img src="{{.Site.BaseURL}}/logos/open-source.svg" alt="Open Source - Zup I.T">
                </a>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <a href="#">
                  <img src="{{.Site.BaseURL}}/logos/zup.svg" alt="Zup I.T">
                </a>
              </div>
            </div>
          </div>

          <div class="col-10">
            <div class="row">
              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <span class="sc-footer-title">Tech Radar</span>
                  </div>
                </div>
  
                <div class="row mt-4">
                  <ul class="sc-footer-list">
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Tecnologias</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <span class="sc-footer-title">Comunidade</span>
                  </div>
                </div>
  
                <div class="row mt-4">
                  <ul class="sc-footer-list">
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Blog</span>
                      </a>
                    </li>
  
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Tech Radar</span>
                      </a>
                    </li>
  
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Eventos</span>
                      </a>
                    </li>
                    
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Fórum</span>
                      </a>
                    </li>
                    
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Política de privacidade</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <span class="sc-footer-title">Redes sociais</span>
                  </div>
                </div>
  
                <div class="row mt-4">
                  <ul class="sc-footer-list">
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>
                          <img src="{{.Site.BaseURL}}/icons/twitter.svg" alt="Twitter">
                        </span>

                        <span>Twitter</span>
                      </a>
                    </li>
  
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>
                          <img src="{{.Site.BaseURL}}/icons/youtube.svg" alt="Youtube">
                        </span>

                        <span>Youtube</span>
                      </a>
                    </li>
  
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>
                          <img src="{{.Site.BaseURL}}/icons/github.svg" alt="Github">
                        </span>

                        <span>Github</span>
                      </a>
                    </li>
                    
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>
                          <img src="{{.Site.BaseURL}}/icons/linkedin.svg" alt="Linkedin">
                        </span>

                        <span>Linkedin</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
  
              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <span class="sc-footer-title">Quem somos</span>
                  </div>
                </div>
  
                <div class="row mt-4">
                  <ul class="sc-footer-list">
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Sobre nós</span>
                      </a>
                    </li>
  
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Contato</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-5">
          <div class="col-auto">
            <p class="sc-footer-copyright">©Copyright 2021 Zup. Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- JQUERY -->

  <script src="assets/js/components/rings.js"></script>
  <script src="assets/js/components/accordion.js"></script>
  <script src="assets/js/components/tabs.js"></script>
</body>

</html>