<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Tech Radar - Opensource - Zup I.T</title>

  <!-- GOOGLE FONTS-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet" />
  <!-- GOOGLE FONTS-->

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- BOOTSTRAP -->

  <link rel="stylesheet" href="assets/css/app.css" />
</head>

<body>
  <header class="sc-header">
    <div class="wrapper">
      <div class="container-fluid gx-0">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <a href="#">
              <img src="assets/logos/tech-radar.svg" alt="Tech Radar | Zup I.T" style="float: left;">
            </a>
          </div>

          <div class="col-auto">
            <div class="row align-items-center justify-content-between">
              <div class="col-auto">
                <nav class="sc-header-navbar">
                  <ul>
                    <li class="sc-header-navbar-item is-active">
                      <a href="#">documentação</a>
                    </li>

                    <li class="sc-header-navbar-item">
                      <a href="#">Radar</a>
                    </li>

                    <li class="sc-header-navbar-item">
                      <a href="#">Sobre</a>
                    </li>
                  </ul>
                </nav>
              </div>

              <div class="col-auto ms-5">
                <div class="cp-dropdown">
                  <div class="cp-dropdown-head">
                    <span class="cp-dropdown-head-label">Português</span>

                    <span class="cp-dropdown-head-icon">
                      <img src="../assets/icons/arrow-down.svg" alt="Abrir" />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="sc-page-head">
    <div class="wrapper">
      <div class="container-fluid gx-0">
        <div class="row justify-content-center">
          <div class="col-auto">
            <h1>Sobre o Tech Radar</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main class="pg-about">
    <div class="wrapper">
      <div class="container-fluid gx-0">
        <div class="row">
          <div class="col-12">
            <h4>O que é o Radar?</h4>

            <p>O Tech Radar é como um portfólio para visualizar as tecnologias e metodologias que uma instituição
              utiliza e confia, monitorar novas tendências e também identificar quais ferramentas podem ser
              descontinuadas. Seu objetivo é manter os times atualizados de forma estratégica.</p>

            <h4>Como funciona?</h4>

            <p>
              O Radar possui quatro quadrantes, com suas respectivas categorias: linguagens e frameworks, plataformas,
              técnicas e serviços. Em cada um dos quadrantes há quatro anéis, onde se identifica o nível de importância
              e relevância da tecnologia e/ou metodologia. Nossos anéis são nomeados Estratégico, Essencial, Potencial e
              Descontinuado. Quanto mais próxima a tecnologia estiver do centro do radar, mais importante ela é.
            </p>

            <p>
              Por exemplo, para escolher uma ferramenta, linguagem ou metodologia, vamos priorizar àquela que o time já
              conhece ou domina. Em alguns casos, é importante verificar se existe algum estudo com relação a essa nova
              demanda. Se dois times precisem conhecer uma ferramenta, toda engenharia saberá que existe uma nova frente
              com esse objetivo, graças ao Radar.
            </p>

            <h4>Tech Radar dentro dos times</h4>

            <p>
              Dentro do time open source na Zup, utilizamos o Tech Radar para a gestão de conhecimento e também para nos
              auxiliar a fazer uma solução com qualidade.
            </p>

            <p>
              Conheça nossas principais motivações:
            </p>

            <p>
              Gerir as informações que circulam entre diversos times: sabendo as ferramentas que cada time usa ou deseja
              utilizar, fica mais fácil de estabelecer uma comunicação efetiva entre os projetos e também evitar silos
              de conhecimento.
            </p>

            <p>Motivar e treinar: uma vez que as tecnologias que os times precisam aprender e/ou aprimorar estão
              mapeadas, é possível organizar grupos de estudos, palestras, workshops e pesquisas, inclusive cross-times.
            </p>

            <p>Evitar a perda de foco e "efeito rebanho": por mais que haja muito oportunidade de se conhecer novas
              ferramentas em eventos externos, é importante se atentar com as reais motivações por trás da pilha
              utilizada, pois certamente terão ferramentas que “escalam”, “performam”, etc. É preciso cautela para não
              transformar os projetos em um "laboratório em produção".</p>

            <p>Impedir que a pilha tecnológica se torne uma "salada de frutas": bem semelhante ao caso anterior e, às
              vezes, oriundo dele, o grande ponto é evitar que existam diversas ferramentas que fazem a mesma coisa.
              Afinal, se dentro do grupo já existe uma solução que resolve um problema, qual é a motivação de utilizar
              uma nova com o mesmo propósito?</p>

            <p>
              Qualidade no código: um time concentrado e com alta coesão na pilha de tecnologia facilita a gestão de
              conhecimento, resultando em boas práticas e fluência entre times, além de códigos melhor escritos e
              trabalhados.</p>

            <p>Ser open source de verdade: um dos pontos críticos nestes tipos de projetos é que eles realmente precisam
              ser open source, ou seja, que as suas dependências tenham licenças compatíveis com os nossos projetos.</p>

            <h4>Os nossos anéis</h4>

            <p>Estratégico: tudo que é considerado fundamental para os projetos. Os times têm conhecimento, segurança e
              fluência.</p>

            <p>Essencial: tudo que já está em processo de adoção, conhecimento é vital para o sucesso da equipe. Por
              isso, os times precisam de capacitação e/ou experiência.</p>

            <p>Potencial: tudo que possui aderência com a cultura, as devidas licenças e tem potencial para ser adotado
              em projetos atuais ou em futuros engajamentos. Para isso, é interessante realizar estudos e testes para
              validação da efetividade no respectivo cenário de aplicação.</p>

            <p>Descontinuado: tudo que é atualmente utilizado mas deve ser removido. Os motivos para tal medida se dão
              por coesão da pilha tecnológica ou pela quebra de cultura e/ou licenças open source adotadas.</p>
          </div>
        </div>
      </div>
    </div>
  </main>


  <footer class="sc-footer">
    <div class="wrapper">
      <div class="container-fluid gx-0">
        <div class="row justify-content-between">
          <div class="col-auto">
            <div class="row">
              <div class="col-12">
                <a href="#">
                  <img src="assets/logos/open-source.svg" alt="Open Source - Zup I.T">
                </a>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <a href="#">
                  <img src="assets/logos/zup.svg" alt="Zup I.T">
                </a>
              </div>
            </div>
          </div>

          <div class="col-10">
            <div class="row">
              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <span class="sc-footer-title">Tech Radar</span>
                  </div>
                </div>

                <div class="row mt-4">
                  <ul class="sc-footer-list">
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Tecnologias</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <span class="sc-footer-title">Comunidade</span>
                  </div>
                </div>

                <div class="row mt-4">
                  <ul class="sc-footer-list">
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Blog</span>
                      </a>
                    </li>

                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Tech Radar</span>
                      </a>
                    </li>

                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Eventos</span>
                      </a>
                    </li>

                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Fórum</span>
                      </a>
                    </li>

                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Política de privacidade</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <span class="sc-footer-title">Redes sociais</span>
                  </div>
                </div>

                <div class="row mt-4">
                  <ul class="sc-footer-list">
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>
                          <img src="assets/icons/twitter.svg" alt="Twitter">
                        </span>

                        <span>Twitter</span>
                      </a>
                    </li>

                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>
                          <img src="assets/icons/youtube.svg" alt="Youtube">
                        </span>

                        <span>Youtube</span>
                      </a>
                    </li>

                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>
                          <img src="assets/icons/github.svg" alt="Github">
                        </span>

                        <span>Github</span>
                      </a>
                    </li>

                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>
                          <img src="assets/icons/linkedin.svg" alt="Linkedin">
                        </span>

                        <span>Linkedin</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-3">
                <div class="row">
                  <div class="col-12">
                    <span class="sc-footer-title">Quem somos</span>
                  </div>
                </div>

                <div class="row mt-4">
                  <ul class="sc-footer-list">
                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Sobre nós</span>
                      </a>
                    </li>

                    <li class="sc-footer-list-item">
                      <a href="#">
                        <span>Contato</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center mt-5">
          <div class="col-auto">
            <p class="sc-footer-copyright">©Copyright 2021 Zup. Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!-- JQUERY -->

  <script src="assets/js/components/rings.js"></script>
  <script src="assets/js/components/accordion.js"></script>
  <script src="assets/js/components/tabs.js"></script>
</body>

</html>