  html,
  body {
    background-color: #FAFAFA;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    color: #404659;
    text-decoration: none;
    list-style: none;
  }

.page-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #113B65;
  margin-bottom: 15px;
}


.page-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8C909C;
}

.header-title {
  background: #F5F6F7;
  padding: 5%;
}

.badge-orange {
  color: #FF8429;
  background-color: #FFF3EB;
  border-radius: 2px;
}


.badge-green {
  color:#29C3A5;
  background-color:#EBF9F6;
  border-radius: 2px;
}


.badge-blue {
  color: #2C91FF;
  background-color: #EBF5FF;
  border-radius: 2px;
}


.badge-red {
  color: #FF696B;
  background-color: #FFF1F1;
  border-radius: 2px;
}

.badge-orange:hover {
  color: #FF8429;
}

.badge-green:hover {
  color:#29C3A5;
  
}

.badge-blue:hover {
  color: #2C91FF;

}

.badge-red:hover {
  color: #FF696B;
}

#top-header {
  position: static;
  background: #FFF;
}

.links-menu {
  gap: 56px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}

.link-menu {
  float: left;
}

.link-menu a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.link-menu a.active {
  border-bottom: #FF6D00;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

#langs {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

#langs ::after {
  padding: 5px
}

/*  Section Home  */
#section-home {
  height: 630px;
  background-image: url('../images/home-background.png');
  background-position: center;
  background-size: cover;
}

#home-content {
  gap: 15px;
  display: flex;
  flex-direction: column;
  width: 800px;
}

#home-content h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  text-transform: capitalize;
}

#home-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8C909C;
}

.search #input-box {
  padding: 24px;
  display: flex;
  align-items: center;
  background: #FFF;
}

.search #input-box #prefix {
  font-weight: 500;
  font-size: 16px;
  color: #8C909C;

}

.search #input-box input{
  flex-grow: 1;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 0.5rem;
}
  
.search #input-box:focus-within {
  border-color: #777;
}





/* Widget show radar */


#widget-show-radar {
  margin: 0 10%;
  padding: 40px;
  position: absolute;
  top: 72%;
  z-index: 5;
  width: 76%;
  background: #FFF;
}

#show-radar-content #caption {
  display: flex;
  align-items: center;
  align-content: stretch;
  gap: 30px;
}

#show-radar-content #caption p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8C909C;
}

#show-radar-content a {
  background-color: #FF6D00;
  color: #FFF;
  text-transform: uppercase;
  padding: 15px 90px;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}


#section-categories {
  background: #F5F6F7;
  top: -15%;
  position: relative;
  padding-top: 10%;
  padding-bottom: 5%;
}


.categories-cards {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.category-card {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 56px;
  justify-content: space-between;
  background: #FFF;
}

.category-card > img{
  width: 32px;
}

.category-card > h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #404659;
}

.category-card ul {
  gap: 15px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.category-card ul a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8C909C;
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-break: anywhere;
  text-decoration: none;
}

.category-card ul a:after {
  content: url('../images/icons/arrow-right.svg');
  padding-left: 10px;
  clear: both;
}

.category-card > a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #047CFF;
  margin-top: 30px;
}


#section-rings {
  background-color: #FCFCFC;
  padding-top: 5%;
  padding-bottom: 5%;
}

#ring-graph {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
}

#ring-card {
  background-color: #FFF;
  max-width: 400px;
}
#ring-card img {
  width: 100%;
  height: auto;
}

#ring-card h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #113B65;
  padding: 24px;
}

#ring-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #8C909C;
  padding: 0px 24px 30px;
}



#list-rings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px;
}

#list-rings .item{
  display: flex;
  width: 150px;
  height: 150px;  
  align-items: center;
  padding-left: 20px;
  cursor: pointer;

  border-left-width: 2px;
  border-left-color: #8C909C;
  border-left-style: solid;

  word-break: break-all;
  font-size: 16px;
  line-height: 24px;
  color: #8C909C;
}

#list-rings .item.active {
  border-left-width: 4px !important;
  border-left-color: #FF6D00 !important;
  color: #FF6D00 !important;
  font-weight: 500 !important;
}

#graph-square {
  width: 500px;
  height: 100%;
  position: relative;
}

#graph-square .item {
  display: block;
  --size: calc(var(--index) * 150px);
  width: var(--size);
  height: var(--size);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background: #FFF;
  cursor: pointer;
}

#graph-square .item.active {
  border: 2px solid #FF6D00;
  background: #ff6d004d;
}


footer {
  background: #F5F6F7;
  padding: 20px 0px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 32px 0px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-column ul{
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #8C909C;
  
}