.sc-footer {
  padding: 56px 0 32px;
  background: #f5f6f7;
}

.sc-footer-title {
  font-weight: 500;
  color: #404659;
}

.sc-footer-list-item {
  margin-top: 8px;
}

.sc-footer-list-item:first-of-type {
  margin-top: 0;
}

.sc-footer-list-item a {
  font-size: 14px;
  line-height: 24px;
  color: #404659;
  text-decoration: none;

  display: flex;
  align-items: center;
}

.sc-footer-list-item a span {
  color: #404659;
  margin-left: 8px;
}

.sc-footer-list-item a span:first-of-type {
  margin-left: 0;
}

.sc-footer-list-item a span img {
  float: left;
}

.sc-footer-copyright {
  font-size: 12px;
  line-height: 16px;
  color: #8c909c;
}
