.cp-badge {
  font-size: 12px;
  line-height: 16px;
  color: #FF6D00;

  padding: 4px 8px;
  border-radius: 4px;
  background: #FFF3EB;
}

.cp-badge.green {
  color: #006B69;
  background: #EBFBFB;
}

.cp-badge.blue {
  color: #0984E3;
  background: #EBF5FD;
}

.cp-badge.red {
  color: #842029;
  background: #f5c2c7;
}