.cp-framework {
  padding: 16px 24px;
  border-radius: 8px;
  background: #ECEDEE;
}

.cp-framework-title, .cp-framework-category {
  font-size: 12px;
  line-height: 16px;
}

.cp-framework-title {
  color: #000;
}

.cp-framework-category {
  color: #8C909C;
}