.cp-modal {
  max-width: 80%;
  width: 870px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 24px;
  display: none;
  box-shadow: 0px 4px 32px -8px rgba(0, 0, 0, 0.12);
  background: #fff;
}

.cp-modal > main {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}