:root {
  --rings: 4;
  --vWidth: 89vw;
}

.cp-rings-circles {
  position: relative;
  width: 100%;
  height: var(--vWidth);
  max-width: 508.5px;
  max-height: 508.5px;
}

.cp-rings-circles-item {
  display: block;
  --size: calc(calc(var(--vWidth) / var(--rings)) * var(--index));
  width: var(--size);
  height: var(--size);
  max-width: calc(calc(500px / var(--rings)) * var(--index));
  max-height: calc(calc(500px / var(--rings)) * var(--index));

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  background: #fff;
  cursor: pointer;
}

.cp-rings-circles-item.is-active {
  border: 2px solid #ff6d00;
  background: #ff6d004d;
}

.cp-rings-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cp-rings-boxes-item {
  display: flex;
  width: 130px;
  height: 125px;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  border-left-width: 2px;
  border-left-color: #8c909c;
  border-left-style: solid;
  word-break: break-all;
  font-size: 15px;
  line-height: 24px;
  color: #8c909c;
}

.cp-rings-boxes-item.is-active {
  border-left-width: 4px !important;
  border-left-color: #ff6d00 !important;
  color: #ff6d00 !important;
  font-weight: 500 !important;
  margin-left: -1px;
}

.cp-rings-card-thumbnail {
  width: 100%;
  min-height: 240px;
  overflow: hidden;
  border-radius: 4px;
}

.cp-rings-card-thumbnail img {
  max-width: 100%;
  float: left;
}

.cp-rings-card-content {
  padding: 40px 20px 20px;
}

.cp-rings-card-content h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #113b65;
}


@media screen and (max-width: 767px) {
  .cp-rings-card-content h3 {
    color: #FF6D00
  }
}

.cp-rings-card-content p {
  margin-top: 16px;
}
