* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #8c909c;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #113b65;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  color: #404659;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  color: #1A2138;
}

input {
  outline: none;
}

.wrapper {
  width: 95%;
  max-width: 1137px;
  margin: 0 auto;
}

.pos-rel {
  position: relative;
}
