<header class="d-flex align-items-center justify-content-center justify-content-md-between px-5 py-3 gap-5">
    <a href="/" class="col d-flex col-md-2">
        <img id="logo" src="/images/logo.svg" />
    </a>

    <ul class="col d-flex justify-content-end gap-4 m-0">
        <li class="link-menu"><a href="#" class="px-2">Documentação</a></li>
        <li class="link-menu"><a href="#" class="px-2">Radar</a></li>
        <li class="link-menu"><a href="#" class="px-2">Sobre</a></li>
    </ul>

    <div class="col-auto">
        <select class="form-select">
            <option value="pt-BR">Português</option>
            <option value="en-US">English</option>
        </select>
    </div>
</header>