<header class="d-flex align-items-center justify-content-center justify-content-md-between px-5 py-3 gap-5">
    <a href="/" class="col d-flex col-md-2">
        <img id="logo" src="/images/logo.svg" />
    </a>

    <ul class="col d-flex justify-content-end gap-4 m-0">
        {{ $p := . }}
        {{ range .Site.Menus.main }}
        <li class="link-menu">
            {{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
            {{ with .Page }}
            {{ $active = or $active ( $.IsDescendant .) }}
            {{ end }}
            {{ $url := urls.Parse .URL }}
            {{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
            <a class="nav-link{{if $active }} active{{end}}"
                href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host
                $baseurl.Host }}target="_blank" {{ end }}>
                <span{{if $active }} class="active" {{end}}>{{ .Name }}</span>
            </a>

        </li>
        {{ end }}
    </ul>

    <div class="col-auto">
        <select class="form-select">
            <option value="pt-BR">Português</option>
            <option value="en-US">English</option>
        </select>
    </div>
</header>