<header class="d-flex align-items-center justify-content-center justify-content-md-between px-5 py-3 gap-5">
    <a href="/" class="col d-flex col-md-2">
        <img id="logo" src="/images/logo.svg" />
    </a>

    <ul class="col d-flex justify-content-end gap-4 m-0">
        {{ range .Site.Menus.main }}
        <li class="link-menu"><a href="{{ .URL }}" class="px-2">{{ .Name }}</a></li>
        {{ end }}
    </ul>

    <div class="col-auto">
        <select class="form-select">
            <option value="pt-BR">Português</option>
            <option value="en-US">English</option>
        </select>
    </div>
</header>