<!doctype html>
<html lang="en">
<head>
  <title>Tech radar at Open Source of Zup Innovation</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <meta name="author" content="Zup Innovation Open Source">
  <meta name="description" content="This site helps the Open Source team in the Zup innovation drive the organization's knowledge and technology watch.">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <meta property="og:url"                content="" />
  <meta property="og:type"               content="Website" />
  <meta property="og:title"              content="Open source Tech Radar" />
  <meta property="og:description"        content="This site helps the Open Source team in the Zup innovation drive the organization's knowledge and technology watch." />
  <meta property="og:image"              content="https://raw.githubusercontent.com/otaviojava/open-source-tech-radar/main/static/images/thumbnail.png" />

  <link rel="stylesheet" type="text/css" href="/css/main.719059a0f7a50dcd153e.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Nunito:400,300,600,700,800,900,300italic,600italic">
  <link rel="stylesheet" type="text/css" href="/css/buddy.plugins.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/buddy.js"></script>
  <script type="text/javascript" src="/js/konami.js"></script>
  
</head>