<div class="search shadow">
    <div class="input-search">
        <form action="/search" method="get">
            <div id="input-box" class="shadow">
                <span id="prefix">Procurar /</span>
                <input type="text" id="search-box" name="query"/>
            </div>        
        </form>
    </div>
</div>
<script>
  window.store = {
    {{ range where .Site.Pages "Type" "post" }}
        "{{- .Permalink -}}": {
            "title": "{{ .Params.Name }}",
            "category": "{{ .Params.Category }}",
            "ring": "{{ .Params.Ring }}",
            "url": "{{- .Permalink -}}"
      },{{ end }}
    }
</script>