<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>

            <section id="section-home" class="d-flex align-items-center justify-content-center">
                <div id="home-content">
                    <h1>Tech Radar</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam qui at animi provident voluptate placeat iure. Natus veniam eligendi voluptas sequi, eum incidunt quam quo cum ab voluptatibus in ex.</p>
                    
                    {{- partial "search.html" . -}}
                </div>
            </section>

            <div id="widget-show-radar" class="shadow">
                <div id="show-radar-content" class="d-flex align-items-center justify-content-between">
                    <div id="caption">
                        <img src="/images/icons/radar.svg"/>
                        <p>Confira nosso Radar completo e saiba o que você deve considerar <br/> em seus projetos.</p>
                    </div>
                    <a href="/show-radar">Ver radar</a>
                </div>
            </div>

            <section id="section-categories">
                <h1 class="page-title">Categorias</h1>
                <h4 class="page-subtitle">Escolha uma tecnologia e saiba como aplicar</h4>
                <div class="categories-cards container">
                    <div class="category-card shadow">
                        <img src="/images/icons/lock-network.svg"/>
                        <h4>Técnicas</h4>
                        <ul>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                        </ul>
                        <a href="#">Ver todas</a>
                    </div>
        
                    <div class="category-card shadow">
                        <img src="/images/icons/cog-desktop.svg"/>
                        <h4>Ferramentas</h4>
                        <ul>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                        </ul>
                        <a href="#">Ver todas</a>
                    </div>
        
                    <div class="category-card shadow">
                        <img src="/images/icons/code.svg"/>
                        <h4>Linguagens e Frameworks</h4>
                        <ul>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                        </ul>
                        <a href="#">Ver todas</a>
                    </div>
                    
                    <div class="category-card shadow">
                        <img src="/images/icons/hierarchy-3.svg"/>
                        <h4>Plataformas</h4>
                        <ul>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Lorem Ipsum 
                                    <img src="/images/icons/arrow-right.svg"/>
                                </a>
                            </li>
                        </ul>
                        <a href="#">Ver todas</a>
                    </div>
                </div>
            </section>

            {{- partial "rings.html" . -}}
        </main>
    </div>
    {{- partial "footer.html" . -}}
    </body>
</html>