<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>

            <section id="section-home" class="d-flex align-items-center justify-content-center">
                <div id="home-content">
                    <h1>Tech Radar</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam qui at animi provident voluptate placeat iure. Natus veniam eligendi voluptas sequi, eum incidunt quam quo cum ab voluptatibus in ex.</p>
                    
                    {{- partial "search.html" . -}}
                </div>
            </section>

            <div id="widget-show-radar" class="shadow">
                <div id="show-radar-content" class="d-flex align-items-center justify-content-between">
                    <div id="caption">
                        <img src="/images/icons/radar.svg"/>
                        <p>Confira nosso Radar completo e saiba o que você deve considerar <br/> em seus projetos.</p>
                    </div>
                    <a href="/radar">Ver radar</a>
                </div>
            </div>

            {{- partial "categories.html" . -}}
            {{- partial "rings.html" . -}}
        </main>
    </div>
    {{- partial "footer.html" . -}}
    </body>
</html>