.pg-single-technologies {
  padding: 56px 0 25px;
  background: #FCFCFC;
}

.pg-single-technologies-item-thumbnail, .pg-single-technologies-related-thumbnail {
  width: 80px;
  height: 73.45px;
  overflow: hidden;
  background: #fff;
  position: relative;
}

.pg-single-technologies-item-thumbnail img, .pg-single-technologies-related-thumbnail img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pg-single-technologies-related-thumbnail {
  width: 32px;
  height: 32px;
}