.sc-categories {
  padding: 176px 0 80px;
  background: #f5f6f7;
}

.sc-categories-list-item {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sc-categories-list-item:first-of-type {
  margin-top: 0;
}

.sc-categories-all {
  color: #047cff;
  text-decoration: none;
}

.sc-categories .cp-card {
  height: 100%;
  min-width: 230px;
}

