.sc-header {
  width: 100%;
  background: #fff;
}

.sc-header-navbar ul {
  display: flex;
}

.sc-header-navbar-item {
  margin-left: 56px;
}

.sc-header-navbar-item:first-of-type {
  margin-left: 0;
}

.sc-header-navbar-item a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #404659;
  display: inline-flex;
  padding: 23px 0;
  border-bottom: 4px solid transparent;
  transition: all 0.3s ease-in-out;
}

.sc-header-navbar-item a:hover {
  opacity: 0.85px;
}

.sc-header-navbar-item.is-active a {
  border-color: #ff6d00;
}
