.pg-about {
  padding: 56px 0;
  background: #FCFCFC;
}

.pg-about h4 {
  font-size: 40px;
  line-height: 48px;
  color: #404659;
  margin-bottom: 24px;
}

.pg-about p {
  color: #404659;
  margin-bottom: 56px;
  text-align: justify;
  line-height: 24px;
  font-size: 16px;
}

.pg-about p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 425px) {
  .pg-about h4 {
    font-size: 24px;
    line-height: 28px;
  }
}