.pg-about {
  padding: 56px 0;
  background: #FCFCFC;
}

.pg-about h4 {
  font-size: 40px;
  line-height: 48px;
  color: #404659;
  margin-bottom: 24px;
}

.pg-about p {
  color: #404659;
  margin-bottom: 56px;
}

.pg-about p:last-of-type {
  margin-bottom: 0;
}