
  html,
  body {
    background-color: #FFF;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    color: #404659;
    text-decoration: none;
    list-style: none;
  }

  textarea,
  select,
  input {
    filter: none;
  }

.container {
  margin: 0 10%;
}

.shadow {
  border: none;
  box-shadow: 4px 4px 32px rgb(26 33 56 / 8%);
  border-radius: 4px 4px 0px 0px;
  background: #fff;
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #113B65;
  margin-bottom: 15px;
}


.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8C909C;
}