<div id="accordion">
    {{ range $elem_index, $category := where .Site.Pages "Params.category" "categories" }}
    {{ $cardId := print (lower $category.Name) "-" $elem_index}}
    {{ $collapseId := print "collapse-" $elem_index}}
    <div class="accordion-item rounded p-3 py-5 my-3 border-0">
        <div class="accordion-header" id="{{ $cardId }}">
            <div class="collapsed d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $collapseId }}" aria-expanded="false" aria-controls="{{ $collapseId }}">
                <h4 class="h4 fw-bold mb-0">
                    {{ $category.Name }}
                </h4>
                <div class="px-2">
                    <span class="px-1">Ver mais</span>
                    <img src="/images/icons/view-more.svg" alt="View more">
                </div>
            </div>
        </div>

        <div id="{{ $collapseId }}" class="accordion-collapse collapse" aria-labelledby="{{ $cardId }}" data-bs-parent="#accordion">
            <div class="accordion-body">
                <table class="table">
                    <thead style="border-style: hidden;">
                        <tr>
                            <th scope="col" class="col-1">Anéis</th>
                            <th scope="col" class="col-auto">Tecnologias</th>
                            <th scope="col" class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {{ range $ring := where .Site.Pages "Params.category" "rings"}}
                            {{ range $technique := where (where .Site.Pages "Params.category" $category.Title) "Params.ring" $ring.Params.Name }}
                                <tr>
                                        <td scope="row">
                                            <span class="badge badge-{{ lower $ring.Params.Color }}">{{ $ring.Name }}</span>
                                        </td>
                                        <td>{{ $technique.Params.Name }}</td>
                                        <td>
                                            <a href="{{ $technique.URL }}">
                                                <img src="/images/icons/external-link.svg" alt="">
                                            </a>
                                        </td>
                                    </tr>
                           
                            {{ end }}
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{ end }}
</div>

<style>
    tr {
        border-style: none !important;
        border: transparent;
    }
    td {
        background-color: #FCFCFC !important;
        padding: 30px 0px !important;
        margin-bottom: 10px !important;
    }
</style>