<nav class="mt-5">
    <div class="nav nav-tabs" role="tablist">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab"
        aria-selected="true">
        O que é
      </button>
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-2" type="button" role="tab"
        aria-selected="false">
        Porque?
      </button>
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-3" type="button" role="tab"
        aria-selected="false">
        Para Quem?
      </button>
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-4" type="button" role="tab"
        aria-selected="false">
        Recursos
      </button>
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#nav-5" type="button" role="tab"
        aria-selected="false">
        Contatos
      </button>
    </div>
  </nav>
  <div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="nav-1" role="tabpanel">
      Go is a statically typed, compiled programming language designed at Google by Robert Griesemer, Rob Pike, and Ken
      Thompson. Go is syntactically similar to C, but with memory safety, garbage collection, structural typing, and
      CSP-style concurrency.
    </div>
    <div class="tab-pane fade" id="nav-2" role="tabpanel">
      It is tested and proved that applications that are written on Go are highly performant and scalable. Golang is a
      very efficient language, just like C/C++, handling parallelisms like Java, and has easy code readability like
      Python and pearl. Golang has indisputable architectural advantages over its predecessors.
    </div>
    <div class="tab-pane fade" id="nav-3" role="tabpanel">
      <ul>
        <li><a href="https://charlescd.io/">CharlesCD</a></li>
        <li><a href="https://horusec.io/site/">Horusec</a></li>
        <li><a href="https://ritchiecli.io/">Ritchie CLI</a></li>
      </ul>
    </div>
    <div class="tab-pane fade" id="nav-4" role="tabpanel">
      <ul>
        <li><a href="https://golang.org/">homepage</a></li>
        <li><a href="https://golang.org/doc/">Documentation</a></li>
        <li><a href="https://github.com/google/go-github">Source code</a></li>
      </ul>
    </div>
    <div class="tab-pane fade" id="nav-5" role="tabpanel">.sssssssssssssss..</div>
  </div>
